<!doctype html>
<template id="building">
    <section class="building">
        <header class="name"><slot name="name">Smelter</slot></header><!-- Running, Waiting, Stopped -->
        <dl class="report">
            <dt><icon i="status" super /></dt>
            <dd><stack-lights class="status" with="blue white" /></dd>
            
            <dt><icon i="stage" super /></dt>
            <dd class="stage"><icon i="loading" /></dd><!-- Cooking, Emptying-->
            
            <dt><icon i="rate" super /></dt>
            <dd>
                <meter class="rate" value="5" max="5">
                every
                <output class="duration">1m 25s</output>
            </dd>
            
            <dt><icon i="next-output" super /></dt>
            <dd class="next"><output class="i-countdown">4m 35s</output></dd>
        </dl>
        <img class="instance" src="~/public/building/smelter.png" />
        <ul class="input">
            <connection kind="belt" requires="5">
                <icon i="resource-iron-ore" super />
            </connection>
            <connection kind="pole" requires="10">
                <icon i="resource-power" tags="powered" super />
            </connection>
        </ul>
        <ul class="output">
            <connection kind="belt" produces="3">
                <icon i="resource-iron-alloy" super />
            </connection>
        </ul>
      </section>
</template>