<template id="belt-connection">
    <li class="container">
        <b slot="resource"></b>
        <i class="i-connection-belt">Belt</i>
        <meter class="queue" value="0">0</meter>
    </li>
</template>

<template id="power-connection">
    <li class="container">
        <b slot="resource"></b>
        <i class="i-connection-pole powered">Powered Pole</i>
    </li>
</template>

<template id="pipe-connection">
    <li class="connection">
        <b slot="resource"></b>
        <i class="i-connection-pipe">Pipe</i>
        <meter class="queue" value="0">0</meter>
    </li>
</template>