<template id="belt-connection">
    <li class="container">
        <slot></slot>
        <icon i="connection-belt" />
        <meter class="queue" value="0">0</meter>
    </li>
</template>

<template id="power-connection">
    <li class="container">
        <slot></slot>
        <icon i="connection-pole" />
    </li>
</template>

<template id="pipe-connection">
    <li class="connection">
        <slot></slot>
        <icon i="connection-pipe" />
        <meter class="queue" value="0">0</meter>
    </li>
</template>