<template id="belt-connection">
    <li class="connection">
        <icon class="resource" />
        <icon i="connection-belt" />
        <meter class="inventory" value="0">0</meter>
    </li>
</template>

<template id="power-connection">
    <li class="connection">
        <icon class="resource" />
        <icon i="connection-pole" />
    </li>
</template>

<template id="pipe-connection">
    <li class="connection">
        <icon class="resource" />
        <icon i="connection-pipe" />
        <meter class="inventory" value="0">0</meter>
    </li>
</template>