<template id="stack-lights">
    <ul class="stack-lights">
        <li><i class="i-stack-light red off" data-color="red" data-behavior="off">Off</i></li>
        <li><i class="i-stack-light" data-color="yellow" data-behavior="steady">Glowing Yellow</i></li>
        <li><i class="i-stack-light green off" data-color="green" data-behavior="pulse">Pulsing light</i></li>
        <!-- extended lights appended here -->
    </ul>
</template>

<!-- appended lights -->
<template id="stack-lights-light">
    <li><i class="i-stack-light" data-color="" data-behavior=""></i></li>
</template>
